/* TITLE */
.landingJumbotron{
    text-align: left; 
    width: 100% !important; 
    background-color: inherit !important; 
    margin: 0px 0px;
    padding: 3em 14em 2em 14em ;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; 
}

.landingJumbotron p {
    font-size: 30px; 
    line-height: 1.5em; 
}
.landingJumbotronInner {
    border: 1px solid rgb(206, 206, 206); 
    padding: 1em; 
    margin: 0px; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 2px 2px 8px #888888;

}

.dottedLine {
    margin: 0em 0em 2em 49%; 
    width: 3px; 
    height: 10em;
    border: 1px dashed rgb(206, 206, 206); 
}


/* CURRENT CONVERSATION */
.featuredTopicPanel {
    margin: auto auto auto 20%; 
    width: 60%; 
    background: white !important
}

.featuredTopicJumbotron{
    text-align: center; 
    width: 95% !important; 
    background-color: white !important; 
    margin: 1em 2.5%;
    padding: 1em 2em 4em 2em ;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px; 
    box-shadow: 1px 1px 6px #888888;
    border-radius: 10px; 
    /* border: 1px solid red;  */
}

.featuredTopicJumbotron h2 {
    font-size: 35px; 
    margin-top: 1em; 
}
.featuredTopicJumbotron p {
    font-size: 20px; 
    line-height: 1.5em; 
}


.featuredTopicPhotoLeft {
    overflow: hidden;
    margin: 0 0 0 -5em; 
    height: 15em; 
    width: 12em !important; 
}

.featuredTopicPhotoRight {
    height: 15em; 
    width: 12em !important; 
}


/* ARCHIVE */

.archiveWrapper {
    text-align: center; 
    width: 80%; 
    margin: 5em 0 5em 10%; 
    border: 1px solid red; 
}
