/* TITLE */
.landingJumbotron{
    text-align: left; 
    width: 100% !important; 
    background-color: inherit !important; 
    margin: 1em 0 0 0;
    padding: 3em 10em 2em 10em ;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
}

.landingJumbotron p {
    font-size: 23px; 
    line-height: 1.5em; 
}

@media only screen and (max-width: 1080px){
    .landingJumbotron {
        padding: 3em 1em 2em 1em ;
        font-size: 16px; 
    }
    
    .landingJumbotron p {
        font-size: 20px; 
    }
}


.landingJumbotronInner {
    border: 1px solid rgb(206, 206, 206); 
    padding: 1em; 
    margin: 0px; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 1px 1px 4px #888888;
}

.dottedLine {
    margin: 0em 0em 1em 49%; 
    width: 1px; 
    height: 5em;
    border: 1px dashed rgb(206, 206, 206); 
}

@media only screen and (max-width: 1080px){
    .dottedLine {
        margin: 0em 0em 2em 49%; 
        width: 1px; 
        height: 3em;
        border: 1px dashed rgb(206, 206, 206); 
    }
}


/* CURRENT CONVERSATION */

.featuredTopicJumbotron{
    text-align: center; 
    width: 90% !important; 
    background-color: white !important; 
    margin: 2em 5%;
    padding: 2em 4em 5em 4em ;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px; 
    box-shadow: 1px 1px 6px #888888;
    border-radius: 10px; 
    /* border: 1px solid red;  */
}

.featuredTopicJumbotron h2 {
    font-size: 35px; 
    margin-top: 1em; 
}
.featuredTopicJumbotron p {
    
    font-size: 20px; 
    line-height: 1.5em; 
    /* border: 1px solid red;  */
    padding: 0em 1em; 
}


.featuredTopicPhotoLeft {
    max-width: 10em !important;
    height: auto  !important; 
    overflow: auto;
    margin: 0 0 0 -3em; 
    /* height: 15em;  */
    /* width: 12em !important;  */
}

.featuredTopicPhotoRight {
    max-width: 10em;
    width: 15em !important; 
    height: auto !important;
    margin-bottom: 2em; 
}

.featuredTopicContributors{
    border: 1px solid red; 
}

@media only screen and (max-width: 1080px){
    .featuredTopicPhotoLeft {
        margin: 1em 0 0 0; 
        max-width: 10em;
        height: auto; 
    }
}


/* ARCHIVE */

.archivePanel{
    width: auto; 
    border-radius: 10px; 
    box-shadow: 1px 1px 6px #888888;

}

.archiveWrapper {
    text-align: center; 
    width: 100%; 
    margin: 1em 0 0 0; 
    padding: 2em; 
    background-color: #d7d7d7; 
}

.archiveTitle {
    text-align: center; 
    font-size: 40px; 
    margin: .5em 1em 1em 1em; 
}