/* TITLE CONTENT */

h1{
    margin-bottom: .5em !important; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em !important;  

}

.titleJumbotron{
    text-align: justify; 
    width: 100% !important; 
    background-color: oldlace !important; 
    margin: 0px;
    padding-left: 8em; 
    padding-right: 8em; 
    font-family: 'Montserrat', sans-serif;

}

.commonGroundJumbotron{
    text-align: center; 
    width: 100% !important; 
    background-color: oldlace !important; 
    margin: 0px;
    padding-left: 11em; 
    padding-right: 11em; 
    border-top: 1px solid rgba(128, 128, 128, 0.289);  
    border-bottom: 1px solid rgba(128, 128, 128, 0.289);  
}

.titleLogo{
    display: inline-block; 
}






/* CONTRIBUTORS SECTION */

.contributorPanel{
    width: 100%;
    margin: 4em auto; 
    border: 4px solid #006666; 
}

.contributorPhoto {
    height: 10em !important;
}

.contributorText{
    margin-top: 1em; 
    text-align: center; 
}

.contributorText h3 {
    text-align: center;  
    margin-bottom: .5em; 
} 





/* ARENA */

.arenaContainerContrib1 {
    background: red; 
    border: 2px solid #006666 !important;
}

.tabParent {
    /* background: red !important;  */
}

.tabChildren {
    margin-left: 15%; 
    font-size: 200%;  
    background: grey !important; 
}

/* KEY CLAIMS */

.keyClaimsContainer {
    width: 40%;
    height: 40em; 
    margin: 0 0 2% 0%; 
    padding: 2% 2% 2% 2%; 
    /* border: 2px solid red;  */
    overflow: scroll;
    display: inline-block; 
}


.keyClaimPanel{
    width: 90%; 
    background-color: lightgrey; 
    display: inline-block; 
    padding-top: 1% !important;  
}

.locked{  
    width: 100%; 
}

/* STREAM ITEMS */

.streamItemsContainer{
    width: 53%;
    height: 40em; 
    margin: 0 0 2% 2%; 
    padding: 8% 3% 1% 3%; 
    /* border: 2px solid red;  */
    background-color: rgb(240, 240, 240); 
    border-radius: 10px; 
    overflow: scroll;
    display: inline-block; 
}

.streamItem{
    margin-right: 0em; 
    width: 100%; 
}



/* CONTRIBUTOR STUFF */

.contrib1 {
    border: 3px solid #006666 !important;
}


.contrib2 {
    border: 3px solid #666600 !important;
}


.contrib1Stream {
    border: 2px solid #006666;
    background-color: #00666629;
    width: 90%; 
    margin-right: 10em; 
}


.contrib2Stream {
    border: 2px solid #666600;
    background-color: #66660035;
    width: 90%; 
    margin-left: 4em; 
}