/* TITLE CONTENT */

h1{
    margin-bottom: .5em !important; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em !important;  

}

.titleJumbotron{
    text-align: justify; 
    width: 100% !important; 
    /* background-color: inherit !important;  */
    background-color: white !important; 
    margin: 0px 0px;
    padding-left: 8em; 
    padding-right: 8em; 
    font-family: 'Montserrat', sans-serif;

}

.commonGroundJumbotron{
    text-align: center; 
    width: 100% !important; 
    background-color: inherit !important; 
    margin: 0px;
    padding-left: 11em; 
    padding-right: 11em; 
    border-top: 1px solid rgba(128, 128, 128, 0.289);  
    border-bottom: 1px solid rgba(128, 128, 128, 0.289);  
}

.titleLogo{
    display: inline-block; 
}






/* CONTRIBUTORS SECTION */

.contributorPanel{
    width: 100% !important;
    min-height: 18em !important; 
    padding-top: 1em !important;
    /* margin: 4em auto;  */
    /* background-color: inherit !important;  */
    border: none; 
    box-shadow: none; 

}

.contributorPhoto {
    overflow: hidden; 
    height: 10em !important;
    width: 8em !important; 
    margin-top: 2em; 

}

.contributorText{
    /* border: 1px solid red;  */
    font-size: 1.1em; 
    padding: 1em; 
    margin-top: 1em; 
    text-align: center; 
    /* background-color: white !important;  */
}

.contributorText h3 {
    text-align: center;  
    margin-bottom: .5em; 
} 

.contributorsSection{
    width: 100%; 
    /* border: 1px solid red;  */
    padding: 2em; 
    margin-bottom: 3em; 
    /* background-color: rgb(244, 241, 241);  */
    background-color: white; 
    font-family: 'Montserrat', sans-serif;

}





/* ARENA */

#arenaTop{
    /* border: 1px solid red !important;  */
    padding: 1em 1em 1em 0em; 
}

.arenaPhoto{
    margin: 1em 1em 1em 1em; 
}

.arenaSummary{
    height: 100%; 
    width: 100%; 
    background-color: lightgrey; 
    margin: 3.5em auto 2% 2%; 
    padding: 1em; 
    /* background-color: #00666697;  */
}

.arenaSummary p {
    font-size: 1.2em; 
}








.arenaContainerContrib1 {
    background: red; 
    border: 2px solid #006666 !important;
}

.tabParent {
    /* background: red !important;  */
}

.tabChildren {
    margin-left: 15%; 
    font-size: 200%;  
    background: grey !important; 
}

/* KEY CLAIMS */

.keyClaimsContainer {
    width: 40%;
    height: 40em; 
    margin: 0 0 2% 0%; 
    padding: 2% 2% 2% 2%; 
    /* border: 2px solid red;  */
    overflow: scroll;
    display: inline-block; 
}


.keyClaimPanel{
    width: 90%; 
    background-color: lightgrey !important; 
    display: inline-block; 
    padding-top: 1% !important;  
}

.keyClaimFooter{
    background-color: lightgrey !important; 
    border: none; 
}

.keyClaimFooterLikes{
    float:right; 
    /* margin-top: -.5em;  */
    margin-right: 1em; 
}

.keyClaimFooterButtons{
    margin-top: -.7em; 
    margin-right: 1em; 
}

.locked{  
    width: 100%; 
}

/* STREAM ITEMS */

.streamItemsContainer{
    width: 53%;
    height: 40em; 
    margin: 0 0 2% 2%; 
    padding: 8% 3% 1% 3%; 
    /* border: 2px solid red;  */
    background-color: rgb(240, 240, 240); 
    border-radius: 10px; 
    overflow: scroll;
    display: inline-block; 
}

.streamItem{
    margin-right: 0em; 
    width: 100%; 
}



/* CONTRIBUTOR STUFF */

.contrib1 {
    border: 4px solid #006666 !important;
}


.contrib2 {
    border: 4px solid #666600 !important;
}


.contrib1Stream {
    border: 2px solid #006666;
    background-color: #00666629;
    width: 90%; 
    margin-right: 10em; 
}


.contrib2Stream {
    border: 2px solid #666600;
    background-color: #66660035;
    width: 90%; 
    margin-left: 4em; 
}