/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* END RESET */



body {
    -webkit-text-size-adjust: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(228, 226, 226); 
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #CA4A00;
    color: #fff;
}

form {
    /* background-color: #dbd5d5; */
    width: 100%;
    /* height: 250px; */
    margin: 0 auto;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #CA4A00;
  width: 100%;
  border-radius: 0px;
  padding: 1em 1em 0em 1em; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;


}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}



/* NEW CSS FRIDAY MAY 18 */

.contributorPanel{
    margin-left: 15%; 
    width: 30%;
    display: inline-block; 
}

.footer{
    width: 100%;
    background-color: #CA4A00;
    height: 5em; 
    position: static; 
    bottom: 0; 
}

.textCenter{
    text-align: center; 
}

.wrapper {
    margin: 0 5% 0 5%; 
    padding-bottom: 100px;
}

.wirePhoto{
    height: 150px; 
    width: 150px; 
    background-color: lightgrey; 
    display: inline-block; 
    margin-left: 20%; 
}

.wireArchive{
    height: 150px; 
    width: 150px; 
    background-color: lightgrey; 
    display: inline-block; 
    margin-left: 12%; 
}

.wireArena{
    float: right; 
    height: 68em; 
    width: 60%; 
    background-color: lightgrey; 
    margin: auto 5% auto 2%; 
}

.wireArenaPhoto{
    height: 10em; 
    width: 10em; 
    background-color: lightgrey; 
    margin: auto auto 2% 2%; 
    display: inline-block;
}

.wireArenaSummary{
    float: right; 
    height: 10em; 
    width: 60%; 
    background-color: lightgrey; 
    margin: auto 5% auto 2%; 
}

.wireKeyClaim{
    height: 10em; 
    width: 30%; 
    background-color: lightgrey; 
    margin: auto auto 2% 2%; 
}

.wireComment{
    width: 70%; 
    margin: auto auto 2% 15%; 
}

.wireCommentButtons{
    float: right; 
}

.wireStreamInput{
    width: 90%; 
    margin-left: 5%; 
    background-color: lightseagreen; 
}



