
.contributor1LoveModal {
    font-size: 0.8em;
    margin-bottom: 0; 
    padding: 1em;
    border: 2px solid #006666;
    background-color: #00666629;

}

.contributor2LoveModal {
    font-size: 0.8em;
    margin-bottom: 0; 
    padding: 1em;
    border: 2px solid #666600;
    background-color: #66660035;

}