.btn-facebook {
    color: #fff;
    background-color: #4267B2;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
}

.fbImage {
    margin: 10px;
}

.helloUser {
color: white;
}

#footerButtons {
    display: flex;
    align-items: flex-start;
    float: left;
}