
.helloUser {
margin: 10px;
color: white;
}

.navItem {
    font-size: 1.5em;
    margin: 10px;
    color: white;
    }

.helloUser {
    font-size: 0.7em;
    margin: 10px;
    color: white;
    }

.loginButton{
    margin: 10px;
    float: right; 
}

